html {
	font-size: 62.5%;
}

body {
	background: $color-white;
	color: $color-black;
	font-family: $font-poppins;
	font-size: 1.8em;
	line-height: 1.6;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}

h1, .h1 {
  font-size: 2.5rem;
}

h2, .h2 {
  font-size: 2rem;
}

h3, .h3 {
  font-size: 1.75rem;
}

h4, .h4 {
  font-size: 1.5rem;
}

h5, .h5 {
  font-size: 1.25rem;
}

h6, .h6 {
  font-size: 1rem;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):focus {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
  outline: 0;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;	
}

img {
	display: block;
	max-width: 100%;
}

hr {
	background: $color-silver-chalice;
	border: 0;
	display: block;
	height: 1px;
	margin: 3rem 0;

	@media (min-width: $breakpoint-medium) {
		margin: 4.5rem 0;
	}
}

abbr[title] {
	border-bottom: 1px dotted $color-black;
	text-decoration: none;
}

code {
	background: $color-white;
	border: 1px solid $color-silver-chalice;
	border-radius: 3px;
	font-family: $font-lekton;
	font-size: 1.5rem;	
	padding: .1rem .4rem;

	var {
		font-style: italic;
	}
}

dl {
	margin: 0 0 3rem;

	dt,
	dd {
		font-family: $font-lekton;		
	}

	dt {
		font-weight: 600;
	}

	dd {
		font-weight: 400;
	}
}

.responsive-table {
	margin-bottom: 3rem;
	
	@media (max-width: $breakpoint-xsmall) {
		display: block;	
		overflow-x: scroll;
		max-width: $breakpoint-xsmall;

		th,
		td {
			min-width: 10rem;
		}
	}
}

table {
	border-collapse: collapse;	
	width: 100%;

	thead {
		td,
		th {
			font-weight: 600;
		}
	}

	tbody > tr:nth-child(odd) > td, 
	tbody > tr:nth-child(odd) > th {
		background: $color-white-sand;
	}

	th,
	td {
		font-family: $font-lekton;
		font-weight: 400;
		text-align: left;
		padding: .5rem 1rem;
	}
}

blockquote {
	border-left: .6rem solid $color-black;
	padding-left: 2rem;
	margin: 0 0 3rem;

	p {
		font-style: italic;
	}

	@media (min-width: $breakpoint-medium) {
		padding-left: 3rem;
	}
}

pre {
	margin: 0 0 3rem;
}
