.container {
	display: block;
	margin: 0 auto;
	max-width: 70em;
	padding: 0 1rem;
	@include clearfix;
}

.header {
	background: $color-white;
	padding: 3rem 0;
}

.logo {
	float: left;
	font-size: 1.8rem;
	font-weight: 600;
	margin: 0;
	line-height: 1;
}

.nav {
	float: right;

	a {
		@extend .logo;
	}
}

.content {
	background: $color-white;
	padding: 7rem 0 0;
	margin-bottom: 3rem;
	position: relative;
	top: 0;
	left: 0;
	z-index: 1;

	@media (min-width: $breakpoint-medium) {
		padding: 3rem 0 0;
		margin-bottom: 3rem;
	}
}

.intro,
.projects {
	padding: 0 0 2rem;
}

.intro {
	@media (min-width: $breakpoint-medium) {
		p {
			font-size: 2.7rem;
			max-width: 66.66666%;
		}
	}
}

.div_block{
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 32px;
    margin-top: 16px;
    flex-wrap: wrap;
    padding-left: 24px;
    padding-right: 24px;
}

.ct-link {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    text-decoration: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ct-image {
    max-width: 100%;
}

.projects-list {
	@media (min-width: $breakpoint-small) {
		margin-left: -1.5rem;
		margin-right: -1.5rem;
		@include clearfix;

		li {
			float: left;
			width: 50%;
		}

		a {
			padding: 0 1.5rem;
		}
	}

	@media (min-width: $breakpoint-medium) {
		li {
			width: 33.33333%;
		}
	}

	li {
		margin-bottom: 3rem;

		&:last-child {
			margin-bottom: 0;
		}
	}
	
	.blog-post {
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
		transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
		height: auto;
		margin: 20px auto !important;
	}

	.blog-post:hover {
		box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
	}
	
	.card {
		position: relative;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-direction: column;
		flex-direction: column;
		min-width: 0;
		word-wrap: break-word;
		background-color: #fff;
		background-clip: border-box;
		border: 1px solid rgba(0, 0, 0, 0.125);
		border-radius: 0.25rem;
	}
	
	.card-img-top {
		height: 220px;
      		object-fit: cover;
      		object-position: center;
      		@media screen and (max-width: $on-palm) {width: 100%;}
	}
	
	.card-body {
		-ms-flex: 1 1 auto;
		flex: 1 1 auto;
		padding: 1.25rem;
	}

	.card-title {
		margin-bottom: 0.75rem;
	}

	.card-subtitle {
		margin-top: -0.375rem;
		margin-bottom: 0;
	}

	.card-text:last-child {
		margin-bottom: 0;
	}
	
	span {
		margin: 1rem 0 .5rem;
	}
	.btn {
		display: inline-block;
		font-weight: 400;
		text-align: center;
		white-space: nowrap;
		vertical-align: middle;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		border: 1px solid transparent;
		padding: 0.5rem 0.75rem;
		font-size: 1rem;
		line-height: 1.5;
		border-radius: 0.25rem;
	}

	.btn:hover, .btn:focus {
		text-decoration: none;
	}

	.btn:focus, .btn.focus {
		outline: 0;
		box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
	}

	.btn.disabled, .btn:disabled {
		opacity: 0.65;
	}

	.btn:not(:disabled):not(.disabled) {
		cursor: pointer;
	}

	.btn:not(:disabled):not(.disabled):active, .btn:not(:disabled):not(.disabled).active {
		background-image: none;
	}

	a.btn.disabled, fieldset:disabled a.btn {
		pointer-events: none;
	}

	.btn-dark {
		color: #fff;
		background-color: #343a40;
		border-color: #343a40;
	}

	.btn-dark:hover {
		color: #fff;
		background-color: #23272b;
		border-color: #1d2124;
	}

	.btn-dark:focus, .btn-dark.focus {
		box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
	}

	.btn-dark.disabled, .btn-dark:disabled {
		color: #fff;
		background-color: #343a40;
		border-color: #343a40;
	}
	
	.btn-lg {
		padding: 0.5rem 1rem;
		font-size: 1.25rem;
		line-height: 1.5;
		border-radius: 0.3rem;
	}
}

.project {
	left: 0;
	position: relative;
	top: 0;

	@media (min-width: $breakpoint-medium) {
		margin-top: -21rem;

		.article-wrapper {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}
	}

	.container {
		max-width: 100%;
	}

	article {
		margin-bottom: 3rem;

		@media (min-width: $breakpoint-medium) {
			float: right;
			right: 0;
			width: 40%;
			position: absolute;
			right: 5%;
		}
	}

	aside {
		margin-left: -3rem;
		margin-right: -3rem;

		@media (min-width: $breakpoint-small) {
			@include clearfix;
		}

		@media (min-width: $breakpoint-medium) {
			float: left;
			width: 55%;
		}
	}

	.project-meta {
		margin: 3rem 0 0;

		@media (min-width: $breakpoint-medium) {
			margin: 5rem 0 0;
			max-width: 70%;
		}
	}

	.h2 {
		margin: 3rem 0 .5rem;

		&:first-of-type {
			margin-top: 0;
		}
	}

	h1 {
		a {
			text-decoration: underline;
		}
	}

	li {
		margin-bottom: 0rem;

		&:last-child {
			margin-bottom: 0;
		}
	}

	img {
		width: 100%;
	}
}

.project-navigation {
	background: $color-black;
	padding: 5rem 0;

	a {
		color: $color-white;
		display: inline-block;

		&:hover {
			h2:after {
				visibility: visible;
				-webkit-transform: scaleX(1);
				transform: scaleX(1);
			}

			&.prev {
				span {
					left: 7px;
				}
			}

			span {
				&:after {
					left: 7px;
				}

				&:before {
					left: -7px;
				}
			}
		}

		&:nth-of-type(1),
		&:nth-of-type(2) {
			display: table;
			margin: 0 auto;
			text-align: center;

			@media (min-width: $breakpoint-xsmall) {
				display: inline-block;
				margin: 0;
				text-align: left;
			}
		}

		&:nth-of-type(1) {
			@media (min-width: $breakpoint-xsmall) {
				float: left;
			}
		}

		&:nth-of-type(2) {
			margin-top: 3rem;

			@media (min-width: $breakpoint-xsmall) {
				float: right;
				margin-top: 0;
			}
		}

		&.next {
			span {
				&:after {
					content: "\02192";
				}
			}
		}

		&.prev {
			span {
				position: relative;
				left: 0;
				-webkit-transition: all .3s ease-in-out 0s;
				transition: all .3s ease-in-out 0s;

				&:before {
					content: "\02190";
				}
			}
		}
	}

	span {
		&:after,
		&:before {
			position: relative;
			left: 0;
			-webkit-transition: all .3s ease-in-out 0s;
			transition: all .3s ease-in-out 0s;
		}
	}

	h2 {
		display: inline-block;
		font-size: 1.8rem;
		position: relative;

		&:after {
			content: "";
			position: absolute;
			width: 100%;
			height: 1px;
			bottom: -4px;
			left: 0;
			background-color: $color-white;
			visibility: hidden;
			-webkit-transform: scaleX(0);
			transform: scaleX(0);
			-webkit-transition: all .3s ease-in-out 0s;
			transition: all .3s ease-in-out 0s;
		}
	}
}

.footer {
	background: $color-alabaster;
	bottom: 0;
	left: 0;
	padding: 5rem 0;
	position: fixed;
	right: 0;
	z-index: -1;
}

.contact,
.follow {
	@media (min-width: $breakpoint-medium) {
		float: left;
		margin-bottom: 0;
		width: 33.33333%;
	}
}

.contact,
.follow {
	margin-bottom: 3rem;
}
